NEXT_PUBLIC_MAX_AUTH_URL=https://auth.max-ai.name.ng
NEXT_PUBLIC_MAX_AUTH_FRONTEND_URL=https://api.max-ai.name.ng
NEXT_PUBLIC_MAX_DEVELOPERS_URL=https://developers.max-ai.name.ng
NEXT_PUBLIC_MAX_AUTH_CLIENT_ID=max_client_developers_platform_v1
NEXT_PUBLIC_MAX_AUTH_REDIRECT_URI=https://developers.max-ai.name.ng/auth/callback
